/* --------------------------
	typo
-------------------------- */
h2{margin-bottom:12px;font-weight:500;font-size:1.9rem;color:var(--fc-01);}

.big-title{margin-bottom:30px;font-weight:500;font-size:2.2rem;letter-spacing:-1px;color:var(--fc-01);}
.desc{font-size:1.3rem;color:var(--fc-03);}
.point-txt{color:var(--fc-primary);}

/* --------------------------
	image
-------------------------- */


/* --------------------------
	step
-------------------------- */
#contents .step:first-of-type{margin-top:-20px;}
.step{font-size:1.4rem;}
.step + *{margin-top:20px;}
.step-bar{overflow:hidden;position:relative;flex:1;height:4px;background:var(--col-disabled);}
.step-bar .step-status{position:absolute;width:0;height:100%;border-radius:inherit;background-image:linear-gradient(to right, var(--col-primary) 0%, #DFFDA2 100%);/*transition:width 1s ease-in-out;*/}
.step-num{display:flex;flex-direction:row-reverse;margin-top:4px;font-size:1.3rem;}
.step-num .total::before{content:'/';}
.step-num .now{color:var(--fc-primary);}

/* --------------------------
	button
-------------------------- */
.btn{display:inline-flex;justify-content:center;align-items:center;padding:0 15px;border-radius:var(--btn-radius);font-weight:500;}
.btn:disabled{pointer-events:none;}
.btn > span{display:flex;align-items:center;}

.btn-wrap{display:flex;justify-content:space-between;gap:4px;margin-top:20px;}
.btn-wrap .btn{flex:1;}
.btn-wrap.right .btn{justify-content:flex-end;}

.list-type-card + .btn-wrap{margin-top:10px;}
#bottom .btn-wrap{margin:0;}

/* size */
.btn-large{height:55px;font-size:1.8rem;}
.btn-medium{height:40px;font-size:1.3rem;}
.btn-small{min-width:62px;height:30px;font-size:1.4rem;color:var(--fc-03);}
.btn-small-rnd{padding:0 12px;height:30px;border-radius:999px;font-size:1.4rem;color:var(--fc-03);}

/* type */
.btn-line{border:1px solid #999;background-color:var(--col-white);color:var(--fc-03);}
.btn-line:disabled{border-color:#eee;color:#ddd;}
.btn-small.btn-line{border:1px solid #ddd;}
.btn-small-rnd.btn-line{background:var(--col-white);border-color:var(--line-c02);font-weight:400;}
.btn-line-primary{border:1px solid var(--col-primary);background-color:var(--col-white);color:var(--fc-primary);}
.btn-line-primary:disabled{border-color:#BBE2C9;color:#BBE2C9;}
.btn-small-rnd.btn-line-primary{font-weight:400;font-size:1.4rem;}

.btn-primary{background-color:var(--col-primary);color:var(--col-white);}
.btn-primary:disabled{background-color:#f1f1f1;color:#999;}
.btn-secondary{background-color:#EBF9F0;color:var(--col-primary);}
.btn-secondary:disabled{color:#BBE2C9;}

/* text button */
.btn-text{padding:0;font-weight:400;font-size:1.4rem;color:var(--fc-03);}
.btn-text.underline{text-decoration:underline;text-underline-position:under;}
.btn-text[class*='btn-text-'] span::after{content:'';width:18px;height:18px;}
.btn-text.btn-text-link span::after{background:url('../img/ic_r_arrow.svg') no-repeat 0 0 / 100%;}

/* icon button */
.btn-icon{padding:0;border-radius:0;background-repeat:no-repeat;background-size:100%;line-height:1;}
.btn-help{width:2rem;height:2rem;border:1px solid #858C94;border-radius:var(--btn-radius);background-color:var(--col-white);background-image:url('../img/ic_help.svg');}

/* --------------------------
	Collapse
-------------------------- */
.collapse-border{margin:0 -24px;border-top:10px solid #f1f1f1;}
.collapse ~ .collapse{margin-top:20px;}
.collapse-item{border-bottom:1px solid #ebebeb;}
.collapse-item > .btn-wrap{margin:0;padding:16px 14px;}
.collapse-item > .btn-wrap .btn-text span{display:flex;justify-content:space-between;flex:1;font-size:1.6rem;color:var(--fc-01);}
.collapse-title{position:relative;display:flex;justify-content:space-between;padding:16px 14px;width:100%;color:var(--fc-01);text-align:left;line-height:1.45;}
.collapse-title::after{content:'';margin-top:5px;width:16px;height:16px;background-image:url('../img/ic_b_arrow.svg');}
.collapse-title[aria-expanded=true]:after{margin-top:3px;transform:rotate(180deg);}
.collapse-cont{display:none;padding:25px 24px;background:#f9f9f9;font-size:1.5rem;color:var(--fc-04);line-height:1.5;}

.collapse-faq{border-top:1px solid #f1f1f1;}
.collapse-faq .collapse-title{padding-left:42px;}
.collapse-faq .collapse-title::before{content:'';position:absolute;top:18px;left:14px;width:20px;height:20px;border-radius:8px;background-color:#ddd;background-image:url('../img/ic_q.svg');}
.collapse-faq .collapse-item:only-child .collapse-title::before,
.collapse-faq .collapse-title.active::before{background-color:var(--col-primary);}
.collapse-faq .collapse-cont{padding:12px 16px;border-top:1px solid #f1f1f1;}

.collapse-faq-box{overflow:hidden;border:1px solid #ddd;border-radius:8px;}
.collapse-faq-box .collapse-item{border:none;}



/* --------------------------
		탭
-------------------------- */
#contents .tab:first-child{margin-top:-20px;}
.popup-body .tab:first-child{margin-top:-20px;}
.tab-nav{position:relative;display:flex;margin:0 -24px;border-bottom:1px solid var(--line-c06);}
.tab-nav .tab-btn{position:relative;display:flex;flex:1;justify-content:center;align-items:center;height:50px;}
.tab-nav .tab-btn[aria-selected=true]{z-index:5;font-weight:700;letter-spacing:-.025em;}
.tab-nav .tab-btn[aria-selected=true]::after{content:'';position:absolute;bottom:0;width:100%;height:2px;background:var(--fc-01);}
.tab-container{margin-top:20px;}
.tab-panel > .custom-select{justify-content:flex-end;margin-bottom:12px;padding-right:24px;}
.tab-panel > .custom-select [role=button]{flex:none;}
.tab-panel > .custom-select [role=button]::after{margin-left:4px;}

/* 탭메뉴영역 고정 */
.tab-nav-fix{display:flex;flex-direction:column;height:100%;}
.tab-nav-fix .tab-container{margin:20px -24px 0;/*max-height:calc(100% - 50px);height:calc(100% - 50px);*/}
/* .tab-nav-fix .tab-container .tab-panel{height:100%;} */
.tab-nav-fix .tab-container .tab-panel .tab-panel-cont{overflow:auto;padding:0 24px 30px;/*max-height:100%;*/}

/* 버튼스타일 */
.tab-nav.tab-nav-button{margin:30px 0 0;border:none;font-size:1.4rem;}
.tab-nav.tab-nav-button .tab-btn{border:1px solid var(--line-c01);font-size:1.4rem;}
.tab-nav.tab-nav-button .tab-btn:not(:first-child){margin-left:-1px;}
.tab-nav.tab-nav-button .tab-btn[aria-selected=true]{border-color:var(--col-primary);color:var(--fc-primary);font-weight:500;letter-spacing:0;}
.tab-nav.tab-nav-button .tab-btn[aria-selected=true]::after{display:none;}
.tab-nav.tab-nav-button .tab-btn:first-child{border-radius:8px 0 0 8px;}
.tab-nav.tab-nav-button .tab-btn:last-child{border-radius:0 8px 8px 0;}

/* --------------------------
		리스트
-------------------------- */
.list-reverse{display:flex;flex-direction:column-reverse;}
.list-reverse > *:not(:first-child){display:none;}
.list-reverse > *{padding:10px 0;}

/* card type */
.desc + .list-type-card{margin-top:25px;}
.result-wrap + .list-type-card{margin-top:62px;}
.result-wrap + .list-type-card.reasons{margin-top:40px;}
.list-type-card{display:flex;flex-direction:column;gap:15px;}
.list-type-card > li{padding:25px 15px 25px 24px;border-radius:8px;border:1px solid var(--line-c02);background:var(--col-white);}
.list-type-card > li.selected{padding:24px 14px 24px 23px;border:2px solid var(--col-primary);box-shadow:2px 3px 10px #11111129;}
.list-type-card .inner{position:relative;display:flex;justify-content:space-between;align-items:center;}
.list-type-card.history > li{padding:20px 15px 20px 20px;}
.list-type-card.history [class^=ic-]{padding-left:53px;}
.list-type-card.history [class^=ic-]::before{content:'';position:absolute;top:50%;left:0;transform:translateY(-50%);width:38px;height:38px;border-radius:50%;}
.list-type-card.history .ic-issuance::before{background:var(--col-primary) url('../img/ic_issuance.svg') no-repeat center / 100%;}
.list-type-card.history .ic-discard::before{background:#666 url('../img/ic_discard.svg') no-repeat center / 100%;}
.list-type-card.history .tit{font-weight:500;font-size:1.8rem;color:var(--fc-01);}
.list-type-card.history .date{display:block;margin-top:5px;font-size:1.3rem;color:var(--fc-04);letter-spacing:0;}
.list-type-card.reasons > li{padding:10px 15px;}
.list-type-card.reasons .inner{display:block;}
.list-type-card.reasons > li.selected{padding:9px 14px;}
.list-type-card.reasons .collapse-item{display:flex;justify-content:space-between;flex-direction:column;flex:1;}
.list-type-card.reasons label{font-size:1.4rem;}
.list-type-card.reasons input:checked + label{color:var(--col-primary);}

/* line type */
.list-type-line{border-top:1px solid var(--line-c06);}
.list-type-line > li{border-bottom:1px solid var(--line-c06);}
.list-type-line .inner{display:flex;justify-content:space-between;align-items:center;padding:14px 0;font-size:1.4rem;color:var(--fc-04);}
.list-type-line .inner b{display:block;font-size:1.6rem;color:var(--fc-02);}

/* dot type */
.collapse-faq + .list-type-dot{margin-top:15px;}
:where(.list-type-dot) > li{position:relative;padding-left:9px;font-size:1.3rem;color:#888;}
.list-type-dot > li::before{content:'';position:absolute;top:7px;left:0;width:3px;height:3px;border-radius:50%;background:#888;}
.list-type-dot > li.point-txt::before{background:var(--col-primary);}
.list-type-dot > li ~ li{margin-top:12px;}

/* list total */
.list-total{margin:30px 0 12px;font-size:1.4rem;color:var(--fc-01);}

/* bank list */
.popup-body .list-bank{margin-top:-42px;}
.list-bank{display:flex;flex-wrap:wrap;}
.list-bank > li{margin-top:12px;width:calc((100% - 24px) / 3);line-height:1;}
.list-bank > li:not(:nth-child(3n + 1)){margin-left:12px;}
.list-bank > li .form-check{width:100%;}
.list-bank label{display:block;padding-top:15px;width:100%;height:98px;background:#f1f1f1;border-radius:10px;font-size:1.4rem;text-align:center;}
.list-bank input + label::before,
.list-bank input + label::after{display:none;}
/* .list-bank input:checked + label{background:var(--col-primary);} */
.list-bank label img{display:block;margin:0 auto 10px;width:36px;height:36px;}

/* list select option */
.list-select-option{margin:-30px 0 -20px;}
.list-select-option > li{padding:20px 0;font-size:1.8rem;color:var(--fc-01);}
.list-select-option > li ~ li{border-top:1px solid #f1f1f1;}
.list-select-option > li .option-item{position:relative;width:100%;font-size:1.8rem;text-align:left;}
.list-select-option > li .option-item.selected::after{content:'';position:absolute;top:-6px;right:0;width:28px;height:28px;background-color:var(--col-primary);
	mask: url('../img/ic_check.svg') center no-repeat;
	-webkit-mask: url('../img/ic_check.svg') center no-repeat;
	mask-size:100%;
	-webkit-mask-size:100%;
}

/* --------------------------
		스와이퍼 슬라이드
-------------------------- */
/* swiper */
/* 기본값이 수정 된 스타일 */
.swiper{position:relative;}
.swiper-wrapper{min-height:100%;}
.swiper-slide{display:block;min-height:100%;}
.scroll-container{overflow:auto;width:100%;}
/* .swiper-slide{display:flex;justify-content:center;align-items:center;text-align:center;} */
.swiper-pagination{position:relative; top:0; margin-top:10px;}
.swiper-pagination-bullet{width:12px; height:12px; margin:0 10px; padding:0;}
.swiper-pagination-bullet-active{width:19px; border-radius:15px; background-color:var(--col-primary);}
.swiper-button-contr{position:absolute; top:50%; z-index:100; width:100%;transform:translate(0,-50%);}
.swiper-button-contr .swiper-button-next,
.swiper-button-contr .swiper-button-prev{color:var(--black-07);}
.swiper-button-next:after, .swiper-button-prev:after{font-size:3.5rem;}
.swiper-button-next, .swiper-button-prev{z-index:20;}

/* --------------------------
		scroll animation
-------------------------- */
.scroll-ani div{/*display:flex;justify-content:center;align-items:center;height:150px;*/font-size:2rem;color:var(--col-primary);}
.scroll-ani .scr-ani *{opacity:0;}
.scroll-ani .scr-ani > h2,
.scroll-ani .scr-ani > p{margin:0;transform:translateY(20px);}
.scroll-ani .scr-ani .obj p{height:50px;}
.scroll-ani .scr-ani .obj p:first-child{margin:0 auto;width:50px;height:50px;border-radius:50%;background:rgba(255, 99, 71, .8);transform:translateY(-10px);}
.scroll-ani .scr-ani .obj p:last-child{margin:0 auto;width:50px;height:50px;border-radius:50%;background:rgba(102, 205, 170, .8);transform:translateY(10px);}

.scroll-ani .scr-ani.action *{opacity:1;transition:all .8s linear;}
.scroll-ani .scr-ani.action > h2,
.scroll-ani .scr-ani.action > p{transform:translateY(0);}
.scroll-ani .scr-ani.action > p{transition-delay:.4s;}
.scroll-ani .scr-ani.action .obj p{transition-delay:.8s;}
.scroll-ani .scr-ani.action .obj p:first-child{transform:translateY(10px);}
.scroll-ani .scr-ani.action .obj p:last-child{transform:translateY(-10px);}

/* --------------------------
		tag
-------------------------- */
.tag{display:inline-flex;align-items:center;padding:0 10px;height:30px;border-radius:999px;background:var(--bg-c02);font-size:1.4rem;color:var(--fc-04);}

/* --------------------------
		result
-------------------------- */
.no-result{font-size:1.8rem;text-align:center;}
.no-result::before{content:'';display:block;margin:90px auto 15px;width:60px;height:60px;border-radius:50%;background-color:#F1F1F1;background-image:url('../img/ic_no_result.svg');}

.result-wrap{margin-top:45px;text-align:center;}
.result-wrap::before{content:'';display:block;margin:0 auto 20px;width:83px;height:75px;height:78px;background-image:url('../img/cont/bg_complete.png');}
.result-wrap.result-certify{display:flex;flex-direction:column;justify-content:center;align-items:center;margin-top:0;height:100%;}
.result-wrap.result-certify::before{background-image:url('../img/cont/bg_certify.png');}
.result-wrap.result-certify .btn{margin-top:25px;width:140px;}
.result-wrap .desc{margin-top:10px;}