@charset 'UTF-8';

/* --------------------------
		인풋과 셀렉트
-------------------------- */
input:where([type=text],[type=password],[type=tel]){position:relative;flex:1;width:100%;height:42px;border-radius:0;border-bottom:1px solid #ddd;font-weight:500;color:var(--fc-02);caret-color:var(--col-primary);}
input:where([type=text],[type=password],[type=tel]):not(:read-only):focus{border-color:var(--col-primary);}
input[type=password]{letter-spacing:5px;}
input[type=password]::placeholder{letter-spacing:0;}
input::placeholder{color:var(--fc-06);}

.input-text-wrap{display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid #ddd;}
.input-text-wrap.focus{border-color:var(--col-primary);}
.input-text-wrap.error{border-color:var(--fc-warning);}
.input-text-wrap > input{border:none;}

.custom-select{display:inline-flex;width:100%;height:42px;}
.custom-select button,
.custom-select [role=button]{display:inline-flex;justify-content:space-between;align-items:center;flex:1;border-bottom:1px solid #ddd;font-weight:500;font-size:1.6rem;color:var(--fc-01);text-align:left;}
.custom-select button:focus,
.custom-select [role=button]:focus{border-color:var(--col-primary);}
.custom-select button::after,
.custom-select [role=button]::after{content:'';display:inline-flex;width:42px;height:42px;background-image:url('../img/ic_b_arrow.svg');background-size:16px;}
.custom-select .select-item{display:flex;}
.custom-select .select-item img{margin-right:8px;width:24px;height:24px;}

.custom-select.small{justify-self:flex-end;height:20px;}
.custom-select.small [role=button]{border:none;font-size:1.4rem;}
.custom-select.small [role=button]::after{width:16px;height:16px;}

/* --------------------------
		체크박스/라디오
-------------------------- */
/* 공통 */
.form-check{position:relative;display:inline-flex;}
input:where([type=checkbox], [type=radio]) + label{position:relative;display:inline-flex;align-items:center;font-size:1.6rem;}
input:where([type=checkbox], [type=radio]):disabled + label{color:var(--fc-05);}
input[type=checkbox] + label::before, input[type=checkbox] + label::after{content:'';width:28px;height:28px;}

/* checkbox */
input[type=checkbox] + label::before{display:inline-block;margin-right:8px;border-radius:50%;border:1px solid #bbb;background:var(--col-white);}
input[type=checkbox] + label::after{position:absolute;top:0;left:0;z-index:10;background-color:#bbb;
	mask: url('../img/ic_check.svg') center no-repeat;
	-webkit-mask: url('../img/ic_check.svg') center no-repeat;
	mask-size:100%;
	-webkit-mask-size:100%;
}
input[type=checkbox]:disabled + label::before{border-color:#ddd;background-color:#f1f1f1;}
input[type=checkbox]:disabled + label::after{background-color:#ddd;}
input[type=checkbox]:checked + label::before{border:none;background-color:var(--col-primary);}
input[type=checkbox]:checked + label::after{background-color:var(--col-white);}
input[type=checkbox]:checked:disabled + label::before{background-color:#EBF9F0;}

/* line type */
.form-check-line{display:flex;}
.form-check-line input[type=checkbox] + label{display:flex;flex:1;justify-content:space-between;}
.form-check-line input[type=checkbox] + label::before{display:none;}
.form-check-line input[type=checkbox] + label::after{display:inline-flex;position:static;}
.form-check-line.bold input[type=checkbox] + label::after{
	mask: url('../img/ic_check2.svg') center no-repeat;
	-webkit-mask: url('../img/ic_check2.svg') center no-repeat;
	mask-size:100%;
	-webkit-mask-size:100%;
}
.form-check-line input[type=checkbox]:checked + label::after{background-color:var(--col-primary);}

/* radio */
input[type=radio] + label::before{content:'';display:inline-block;margin-right:8px;width:28px;height:28px;border-radius:50%;border:1px solid #bbb;background:var(--col-white);}
input[type=radio]:checked + label::before{border:8px solid var(--col-primary);}
input[type=radio]:disabled + label::before{background:#f1f1f1;border:1px solid #ddd;}
input[type=radio]:checked:disabled + label::before{background:var(--col-white);border:8px solid #EBF9F0;}

label:not(.blind) + .form-group{margin-top:10px;}
.form-group{display:flex;flex-wrap:wrap;gap:20px;}
/* .form-group.st_button{gap:0;}
.form-group.st_button .form-check{flex:1;}
.form-group.st_button .form-check input{margin:0;width:0;height:0;border:none;}
.form-group.st_button .form-check input:after{display:none;}
.form-group.st_button .form-check label{display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;min-height:50px;border:1px solid #ddd;font-size:1.4rem;color:var(--fc-03);text-align:center;cursor:pointer;}
.form-group.st_button .form-check label span{display:block;font-size:1.3rem;}
.form-group.st_button .form-check:not(:first-child){margin-left:-1px;}
.form-group.st_button .form-check:first-child label{border-radius:8px 0 0 8px;}
.form-group.st_button .form-check:last-child label{border-radius:0 8px 8px 0;}
.form-group.st_button .form-check input:checked + label{position:relative;z-index:10;border-color:var(--col-primary);color:var(--fc-primary);} */

/* toggle switch */
/* .switch label{position:relative;display:inline-block;overflow:hidden;width:46px;height:26px;border-radius:999px;background:#ddd;text-indent:-9999px;}
.switch input:checked + label{background:var(--col-primary);}
.switch label::before{content:'OFF';}
.switch input:checked + label::before{content:'ON';}
.switch label::after{content:"";position:absolute;left:1px;top:50%;width:24px;height:24px;border-radius:100%;background-color:#fff;transform:translateY(-50%);box-shadow:1px 3px 4px rgba(0,0,0,0.1);transition:all 0.4s;}
.switch input:checked + label::after{left:21px;} */

/* --------------------------
	입력폼
-------------------------- */
/* .terms-wrap + .form-wrap{margin-top:30px;} */
* + .form-wrap{margin-top:30px;}
.form-wrap{display:flex;flex-direction:column;gap:20px;}
.form-wrap .form-item label{display:block;font-size:1.4rem;color:var(--fc-04);}
.form-wrap .form-item label .option{color:var(--fc-primary);}
.form-wrap .form-item .form-txt{margin-top:11px;font-size:1.3rem;color:var(--fc-04);}
.form-wrap .form-item .btn-wrap{margin-top:15px;}
.form-wrap .form-item-row ~ .form-item-row{margin-top:10px;}
.form-wrap .form-item-row .form-group{margin-top:10px;}
.valid-time{padding:0 8px;border-radius:8px;background:rgba(254, 76, 76, .1);font-size:1.3rem;line-height:30px;color:var(--fc-warning);}

.form-group.st_button + .form-item-group{margin-top:10px;}
.form-item-group{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;gap:16px;}
.form-item-group > *:not(.inp-txt){flex:1;}
.form-item-group.input-jumin{justify-content:initial;gap:0;}
.form-item-group.input-jumin .inp-txt::before{content:'';display:block;width:10px;height:1px;background-color:#999;}
.form-item-group.input-jumin .form-item-group:last-of-type{position:relative;gap:0;}
.form-item-group.input-jumin .form-item-group:last-of-type::after{content:'●●●●●●';position:absolute;top:50%;left:29px;transform:translateY(-50%);font-size:1.4rem;color:var(--fc-05);letter-spacing:3px;}
.form-item-group.input-jumin .form-item-group:last-of-type input[type=tel]{flex:0;padding:0 10px;width:35px;text-align:center;}
.form-item-group.input-jumin .form-item-group:last-of-type input[type=tel]::placeholder{font-size:1.4rem;color:#ebebeb;}
.form-item-group.input-jumin .form-item-group:last-of-type input[type=tel]:focus::placeholder{color:#fff;}
.form-item-group.input-jumin .form-item-group:last-of-type input[type=password]{color:var(--col-white);}
.form-item-group.input-mobile > *:first-of-type{flex:4;}
.form-item-group.input-mobile > *:last-child{flex:6;}

.btn-search{width:42px;height:42px;background:url('../img/ic_search.svg') no-repeat center / 100%;}
.btn-input-clear{display:none;width:18px;height:42px;background:url('../img/ic_input_delete.svg') no-repeat center / 18px;}