@charset 'UTF-8';

/* --------------------------
		wrapper
-------------------------- */
#wrapper{display:flex;flex-direction:column;height:100vh;}

/* --------------------------
		header
-------------------------- */
#header{padding:0 20px;border-bottom:1px solid var(--line-c01)}
#header h1{font-weight:500;font-size:17px;color:var(--fc-01);}
#header{display:flex;justify-content:space-between;align-items:center;height:50px;}

/* --------------------------
		container
-------------------------- */
#container{overflow:auto;display:flex;flex-direction:column;height:100%;}
#container .contents{overflow-x:hidden;overflow-y:auto;padding:20px 20px 40px;height:100%;}
#container .fixed-bottom{padding:0 20px;min-height:50px;background:#f1f1f1;}

/* --------------------------
		popup
-------------------------- */
.popup-area{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000;}
.popup-area .mask{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);}
.popup-wrap{position:absolute;width:100%;height:100%;background:var(--col-white);}

.popup-container{position:relative;display:flex;flex-direction:column;max-height:100%;}
.popup-container .popup-close{overflow:hidden;position:absolute;top:5px;right:5px;width:40px;height:40px;background:var(--bg-c04);text-indent:-9999px;}
.popup-header{display:flex;justify-content:space-between;align-items:center;padding:0 20px;min-height:50px;}
.popup-header h2{font-weight:500;font-size:18px;}
.popup-body{overflow-y:auto;padding:20px;max-height:calc(100% - 50px);background:var(--bg-c03);}
.popup-footer > p{height:50px;}

.popup-area.st_bottom .popup-wrap{bottom:0;max-height:calc(100% - 50px);border-radius:25px 25px 0 0;animation:slideUp 1s;}
.popup-area.st_bottom .popup-wrap.close{animation:slideDown 1s;}

@keyframes slideUp{
	0%{bottom:-100%;}
	100%{bottom:0;}
}
@-webkit-keyframes slideUp{
	0%{bottom:-100%;}
	100%{bottom:0;}
}
@keyframes slideDown{
	0%{bottom:0;}
	100%{bottom:-100%;}
}
@-webkit-keyframes slideDown{
	0%{bottom:0;}
	100%{bottom:-100%;}
}

.popup-area.st_center .popup-wrap{top:50%;left:30px;right:30px;width:auto;transform:translateY(-50%);max-height:calc(100% - 60px);border-radius:25px;}

/* --------------------------
		footer
-------------------------- */
footer{min-height:50px;background:lightgray;}